@import "./scss/pages/auth.scss";
@import "./scss/pages/chat-home.scss";
@import "./scss/components/buttons.scss";
@import "./scss/components/sidebar.scss";
@import "./scss/fonts.scss";
@import "./scss/helper.scss";
@import "./scss/layout.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
